.info {
  padding: 1em 0 1em 0;

p{
  padding-top: 1em ;
}

// header {
//   display: flex;
//   flex-direction: column;
//   margin-top: 1em;

&__title {
padding: 1em 0;
letter-spacing: 0.5em;
font-weight: 500;
  }
}


  // /* Extra small devices (phones, 600px and down) */
  // @media only screen and (max-width: 600px) {
  //     .info {

  //     }
  //   }
    
  //   /* Small devices (portrait tablets and large phones, 600px and up) */
  //   @media only screen and (min-width: 600px) {
  //     .info {

  //     }
  //   }
    
  //   /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
      .info {
      }
    }
    
    // /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
      .info {

      }
    }
    
      //For Big TV's (HD Screens)
      @media screen and (min-width: 1280px) {
          .info {
   
          }
      }
    
    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1920px) {
      .info {
    
      }
    }
