@use "./../../../styles/vars";
.info {
  width: 55%;
  text-align: right;

  &__title {
    padding: 0em 0em 1em 0em;
    color: rgb(255, 255, 255, 0.5) ;
  }

  p {
    padding: 1em 0;
    font-size: 95%;
  }
}

@media only screen and (max-width: 767px) {
  .info {
    text-align: center;
    width: fit-content;

    &__title {
      padding: 1.5em 0em 1em 0em;
      font-size: 1.5em;
    }

  }
}
