//colors
$primary: #1129c2;
$secondary: #ece3e3;
$tertiary: #C6F700;

// $background: #080E4A;
// $background: #ece3e3;
// $success: #55ff55;
// $danger: #ff5555;

//fonts
$fbody: 'Montserrat', sans-serif;
$fheader: 'Montserrat', sans-serif;
$ftitle:'Inter', sans-serif;
$fnav: 'Anton', sans-serif;