//colors
$primary: #030303;
$secondary: #d6bdb7;
$tertiary: #30673F;

// $background: #080E4A;
$background: #d6bdb7;
$success: #55ff55;
$danger: #ff5555;

//fonts
$fbody: 'Montserrat', sans-serif;
$fheader: 'Montserrat', sans-serif;
$ftitle:'Inter', sans-serif;
$fnav: 'Anton', sans-serif;