@font-face {
  font-family: "against", serif;
  src: local("against regular"),
    url("././../font/against\ regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "vogue", serif;
  src: local("vogue"), url("./../font/Vogue.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "vanilla", serif;
  src: local("VanillaRavioli_Demo"),
    url("./../font/VanillaRavioli_Demo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
