@use "reset";
@use "vars";
@import 'normalize.css';


/* Reset */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 3em; /* 40px/16=2.5em */
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-size: 2em; /* 30px/16=1.875em */
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
}

h3 {
  font-size: 1.3em; /* 30px/16=1.875em */
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

h4 {
  font-size: 1em; /* 30px/16=1.875em */
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

p {
  font-family: 'Montserrat', sans-serif;
  line-height: 2em;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

span {
  font-weight: 600;
}

body {
  font-size: 1em;
  margin: 0;
  padding: 0;
  height: 100vh;
  color: black;
  background-color: #d6bdb7;
  -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

}

html {
  height: 100%;
}

::-webkit-scrollbar {
  display: none;
}
