@use "./../../styles/vars";
  .contact {
    text-align: right;

    &__title {
      padding-bottom: 1em;
    }
  }

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 767px) {
  .contact {
    padding: 1.5em 0em 1em 0em;

    &__title {
  display: none;
    }

    p {
      font-size: 90%;
      text-align: center;
      padding: 2em;
    }
  }
}
