@use "../../styles/vars" as v;

.info {
  display: flex;
  align-items: center;

  &__left,
  &__right {
    padding: 2em;
    flex: 1;
    height: max-content;
  }

  &__left {
    text-align: right;
  }

  p {
    padding: 0.5em 0;
    scale: 0.9em;
  }
  &__title {
    padding-bottom: 0.5em;
    white-space: nowrap;
  }

  &__connect {
    :hover {
      color:  v.$tertiary;
      transition: color 0.2s;
    }
  }

  @media screen and (max-width: 1023px) {
      flex-direction: column;

      &__left {
        text-align: left;
      }
  }
}
