@use "./../../styles/vars";
 
.navigation {
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  flex: 1;

  &__link {
    font-weight: 600;
    padding-bottom: 1em;

    &--hovered {
    transform: translateX(+20px); /* Adjust the amount of slide as needed */
    transition: transform 0.5s ease-in-out;
  } 
}

  &__text {
    vertical-align: middle;
    padding-bottom: 2em;
    font-family: vars.$ftitle;
  }

  &__arrow {
    font-size: 1em;
    vertical-align: middle;
    opacity: 0;
    /* Add a color for the arrow icon */
    color: #030303;

    &--visible {
      opacity: 1;
      transition: transform 0.5s ease-in-out;
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 767px) {
  .navigation {
flex-direction: row;
    &__link {
      margin: 0em 0.5em 0em 0.5em;
    }
  }
}
