@use "./../../styles/vars" as v;

.navigation {
  display: flex;
  flex-direction: column;
  font-family: 'Antonio', sans-serif;
  font-size: 5em;
  text-transform: uppercase;

  // Styles for non-home pages
  // &--not-home {
  //   font-size: 2em; // Smaller font size for non-home pages
  //   flex-direction: row; // Change flex direction on non-home pages
  //   justify-content: center; // Center navigation links horizontally
  //   position: relative; // Adjust position if necessary
  // }
// @media screen and (max-width: 1023px) {
//   // .navigation, .navigation--not-home {
//     font-size: 2em; // Adjust font size for mobile
//     flex-direction: column; // Keep column direction for mobile
//   text-align: right;
// padding: 1em;

// }
}

