@use "./../../styles/vars";
 
.navigation {
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  flex: 1;
  color: rgb(255, 255, 255, 0.6);

  &__link {
    font-weight: 600;
    padding-bottom: 1em;
    transition: opacity 0.5s ease-in-out;

    &--hovered {
      opacity: 1;      
     /* Adjust the amount of slide as needed */
  } 
}

  &__text {
    vertical-align: middle;
    padding-bottom: 2em;
    font-family: vars.$ftitle;
  }

  &__arrow {
    font-size: 1em;
    vertical-align: middle;
    opacity: 0;
    /* Add a color for the arrow icon */
    color: #030303;
      transition: opacity 0.5s ease-in-out;

    &--visible {
      opacity: 0.5;
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 767px) {
  .navigation {
    padding-top: 1em;
    flex-direction: row;

    &__link {
      margin: 0em 0.2em 0em 0.2em;
      transition: opacity 0.3s ease-in-out;

      &:hover {
        opacity: 0.4; /* Adjust the amount of opacity as needed */
        transform: none;
      }
    }

    &__text {
      text-transform: uppercase;
      font-size: 90%;
    }
  }
}