@use "./../../styles/vars";
.header {
  display: flex;
  flex-direction: column;
  &__title {
    font-size: 4em;
  }

  &__label {
    margin: 1em;
    color: vars.$tertiary;
  }
&__fname {
  opacity: 0.6;
}
&__name {
  opacity: 0.8;
}
}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 767px) {
  .header {
    align-content: center;
    text-align: center;

    &__title {
      font-family: vars.$fheader;
      // text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 600;
      width: max-content;
      font-size: 4.5em;
      box-sizing: border-box;
    }
    &__navlink {
      display: flex;
      align-items: center;
    }
//     &__fname {
//       font-size: 2em;
     
// }
//     &__name {
//       font-size: 2em;
     

// }
    &__label {
      font-size: 90%;
      margin: 0.5em 0 1em 0;
    }
  }
}
