@use "./../../styles/vars";

.bottom-section {
  display: flex;
  flex-direction: column;
  position: sticky;
  bottom: 0;
  align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #d6bdb7;

  nav {
    display: flex;
    flex-direction: row;
  }

  &__link {
    letter-spacing: 2px;
    padding: 2em 0.5em;
    font-weight: 500;
    transition: opacity 0.5s ease-in-out;

    &--hovered {
      font-style: italic;
      font-weight: 600;
    }
  }

  &__text {
    vertical-align: middle;
  }

  &__monstera {
    font-size: 1em;
    vertical-align: middle;
    opacity: 0;
    /* Add a color for the arrow icon */
    color: #030303;
    transition: opacity 0.5s ease-in-out;

    &--visible {
      opacity: 0.5;
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .bottom-nav {
    width: 100%;

  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1920px) {
  .bottom-nav {
    position: fixed;
    bottom: 0;
  }
}
