@use "./../../styles/vars";

  .experience-list {
  display: flex;
  flex-direction: column;
  max-width: 80%;

  &__intro {
    font-size: 95%;
    padding: 1em;
  }

  &__title {
    text-align: right;    
    padding: 1em;
    color: rgb(255, 255, 255, 0.5) ;
  }

  &__container {
display: flex;
justify-content: flex-start;  
}
}


// /* Extra small devices (phones, 600px and down) */
// @media only screen and (max-width: 600px) {
// }
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 767px) {
  .experience-list {
    max-width: 95%;
  
    &__intro {
      font-size: 95%;
      padding: 1em 0 1em 0;
    }
  
    &__title {
      text-align: left;    
      padding:  1em 0 1em 0;
      font-size: 1.5em;
    }
  
    &__container {
  display: flex;
  justify-content: flex-start;  
  }
}
}