@use "./../../styles/vars";

  .experience-list {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  margin: 2.5em 0 0 0;

  &__intro {
    padding: 0 0 1em 0;
  }

  &__title {
    letter-spacing: 2px;
    padding: 2em 0.5em;
    font-weight: 500;    color: vars.$primary ;
    opacity: 0.8;
  }

  &__container {
display: flex;
justify-content: flex-start;  
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .experience-list{
    margin: 0em 0 0 0;
    max-width: 70%;
    &__intro {
      font-size: 90%;
    }
    &__title {
      font-size: 1em;
    }
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .experience-list{
    &__title {
      font-size: 1.5em;
    }
  }
}

//For Big TV's (HD Screens) 
@media screen and (min-width: 1280px) {
  .experience-list{
    &__title {
      font-size: 1.5em;
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1920px) {
  .experience-list{
    &__intro {
font-size: 110%;
    }
    &__title {
      font-size: 2em;
    }
  }
}
