@use "./../../../styles/vars" as v;

.experience-card {
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: first baseline;
  overflow: auto;

  &__body {
    display: flex;
    padding: 1.5em;      
    margin-bottom: 1em;
    transition: background-color 0.3s ease, border-radius 0.3s ease;
    border: 1px solid rgba(3, 3, 3, 0.1) ;
    border-radius: 0.5em;

    &:hover {
      background: 0 rgba(3, 3, 3, 0.2);
    }
  }

  &__duration {
    font-size: 110%;
    color: v.$primary;
    opacity: 0.6;
  }

  &__year {
    font-weight: 500;
  }

  &__details {
    margin-left: 2em;
    font-size: 90%;
  }
  &__company {
    font-weight: 500;
    font-size: 95%;
    margin-bottom: 0.5em;
    color:rgb(3, 3, 3, 0.5);
  }

  &__position {
    margin-bottom: 0.5em;
    font-weight: 600;
  }

  &__location {
    margin-bottom: 0.5em;
  }

  &__skills {
    display: flex;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 767px) {
  .experience-card {
    padding: 0;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;

    &__body {
      flex-direction: column;
      padding: 1em;
    }
    &__duration {
      display: flex;
      padding: 0 0 0 0;
      font-size: 90%;
    }
    &__year {
      margin: 0 0.5em 0 0;
    }
    &__details {
      margin:1em 0 2em 0;
      font-size: 90%;
    }
  }
}
