@use "./../../styles/vars" as v;

.projects {
    width: 100%;
    height: 100%;
    padding: 1.5em;
    /* Media query for mobile devices */
@media (max-width: 768px) { /* Adjust this value based on your definition of mobile devices */
        padding: 0;
    }
}
