@use './../../styles/vars';


.footer {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items:last baseline;
  flex:1;
  &__title {
    font-size: 1.5em;
    color: vars.$primary;
  }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 767px) {
  .footer {
margin-bottom: 1em;
  }
}

