@use "./../../styles/vars" as v;

.socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
//   padding: 0;
// margin: 0;  
a:focus {
  // outline: 2px solid blue; /* Example: Adds a blue outline around focused links */
color: v.$tertiary;
}
//  for mobile
  @media screen and (max-width: 1023px) {
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    scale: 0.9;
    a {
padding: 0.5em;
    }
  }
}
