@use "./../../styles/vars";

.socials {
  display: flex;
// justify-content: center;
position: sticky;
  &__icon {
    display: flex;
    align-items: baseline;
    color: vars.$primary;
    padding: 0em 0.5em;
    transition: opacity 0.5s ease-in-out;

    &--hovered {
      opacity: 0.5;
    }
  }
}