@use "./../../styles/vars";

  .tech {
    &__link {
      display: flex;
      justify-content: flex-end;
      
      &-text {
        font-weight: 600;
        padding-bottom: 0.5em;
        font-family: vars.$fnav;
      }

      &--hovered {
        transform: translateX(-20px); /* Adjust the amount of slide as needed */
        transition: transform 0.3s ease-in-out;
      }

      ul {
        display: flex;
      }

      li {
        padding: 0.2em;
        transform: scale(80%);
      }
    }



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 767px) {
  .tech {
    display: flex;
    flex-direction: column;

    &__link {
      display: flex;
      align-items: baseline;
      // justify-content: flex-end;
      transition: transform 0.3s ease-in-out;
      &-text {
        font-weight: 600;
        vertical-align: middle;
        padding-bottom: 0.5em;
        font-family: vars.$fnav;
      }

      &--hovered {
        transform: translateX(+5px); /* Adjust the amount of slide as needed */
        transition: transform 0.3s ease-in-out;
      }

      ul {
        display: flex;
      }

      li {
        padding: 0.2em;
        transform: scale(80%);
      }
    }

    &__icon {
      transition: transform 0.5s ease;
    }

  }
}
  }