@use "./../../styles/vars";

  .maintenance {
   
 h1 {
  padding: 1em;
 }
  }


// /* Extra small devices (phones, 600px and down) */
// @media only screen and (max-width: 600px) {
// }
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 767px) {
  .maintenance {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex: 1; /* This allows the homepage to grow and take up remaining space */
 h1 {
  padding: 2em;
 }
  }
}

// /* Large devices (laptops/desktops, 992px and up) */
// @media only screen and (min-width: 992px) {
// }
// /* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1200px) {
// }
