@use "./../../styles/vars" as v;

.maintenance {
    display: flex;
    flex-direction: column;
    text-align: center;

    h1 {
        padding-bottom: 1em ;
    }
    h4 {
        padding-top: 0.5em;
    }
    &__link {
        display: flex;
        flex-direction: column;
        gap: 1em; // Adds space between the text and the icon

    &__back {
        display: inline-flex; // Use inline-flex to align the ArrowBack icon correctly
        padding: 0.5em; // Adjust padding as needed
    
        // Apply hover effect specifically to the icon's container
        &:hover {
          .MuiSvgIcon-root {
            fill: #C6F700 !important; // Change icon color on hover
          }
        }
      }
    }
}