@use "./../../styles/vars";
.copyright {
  color: vars.$tertiary;
  padding: 2em 0 1em 0;
  font-size: 80%;
  text-align: right;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 767px) {
  .copyright {
    display: flex;
    align-content: center;
    text-align: center;
    margin-top: 2em;
    padding: 2em 0 1em 0;
    flex-grow: 1;
    font-size: 80%;
  }
}

// /* Medium devices (landscape tablets, 768px and up) */
// @media only screen and (min-width: 768px) {
//   .copyright {
//     flex-grow: 1;
//     }
// }

// /* Large devices (laptops/desktops, 992px and up) */
// @media only screen and (min-width: 992px) {
//   .copyright {
//     flex-grow: 1;
//     }
// }

// /* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1200px) {
// .copyright {
// flex-grow: 1;
// }
// }
