@use "./../../styles/vars";
.copyright {
  color: vars.$tertiary;
  padding-top: 2em;
  font-size: 80%;
  text-align: right;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 767px) {
  .copyright {
    display: flex;
    align-content: center;
    text-align: center;
    margin-top: 2em;
    bottom: 0;
    position: relative;
    font-size: 80%;
  }
}
