@use "./../../styles/vars";

  .error {
    display: flex;
    flex-direction: column;
    align-items: center;
    // flex: 1; /* This allows the homepage to grow and take up remaining space */
 h1 {
  padding: 1em;
 }
  }

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 767px) {
  .error {
    flex: 1; /* This allows the homepage to grow and take up remaining space */
 h1 {
  padding: 2em;
 }
  }
}
