@use "./../../styles/vars";
.info-nav {
    padding: 2em 0;

    &__link {
      display: flex;
      align-items: baseline;
      justify-content: flex-end;
      font-weight: 600;        
      transition: transform 0.5s ease-in-out;

      &--hovered {
        transform: translateX(-20px); /* Adjust the amount of slide as needed */
      }
      &-text {
      padding-bottom: 1em;
      font-family: vars.$fnav;
      }
    }
  }

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 767px) {
  .info-nav {
    &__link {
      display: flex;
      justify-content: flex-start;
      &--hovered {
        transform: scale(110%); /* Adjust the amount of slide as needed */
      }
    }

}

}