@use "./../../styles/vars";
.info-nav {
    padding: 2em 0;

    &__link {
      display: flex;
      align-items: baseline;
      justify-content: flex-end;
      font-weight: 600;        
      transition: opacity 0.5s ease-in-out;

      &--hovered {
opacity: 1;      
}
      &-text {
      padding-bottom: 1em;
      font-family: vars.$fnav;
      }
    }
  }

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 767px) {
  .info-nav {
    &__link {
      display: flex;
      justify-content: flex-start;
    }

}

}