@use "./styles/vars";

.app {          
  display: flex;
  flex-direction: column;
  height: 100vh; /* Ensure the app takes at least the full viewport height */
  overflow: hidden; // Hide overflow for the entire app
  font-size: 70%;
  align-content: center;
  &__routes {
    display: flex;
    flex-grow: 1;
    align-items: center;
  }
}
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
      .app {
          padding: 0em 2.6em 2.6em 2.6em;
          overflow-y: unset;
          &__header {
            align-items: center;
          }
          &__routes {
        flex-direction: column;
          }
      }
    }
    
    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) {
      .app {
          padding: 3em 2em 4em 2em;
          overflow-y: unset;
          font-size: 80%;
      }
    }
    
  //   /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
      .app {
          padding: 0 2em;
          overflow-y: unset;
          font-size: 80%;
          &__routes{
            flex-direction: column;
            padding: 0 2em;
            // align-items: center;
            justify-content: center;  
          }
      }
    }
    
    // /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
      .app {
          padding: 2em 10em 2em 10em;
          overflow-y: unset;

      }
    }
    
      //For Big TV's (HD Screens)
      @media screen and (min-width: 1280px) {
          .app {
              padding: 3em 20em 10em 20em;
              overflow-y: unset;
          }
      }
    
    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1920px) {
      .app {
          padding: 10em 30em 3em 30em;
          overflow-y: unset;
          font-size: 105%;
          &__routes {
            align-items: center;
            justify-content: center;  
            flex: 1;
          }
      }
    }
