@use "./styles/vars";

.app {
  display: flex;
  height: 100vh; /* Ensure the app takes at least the full viewport height */
  overflow: hidden; // Hide overflow for the entire app
  justify-content: space-between;
  background: linear-gradient(250deg, #ecc8d7, #98c3d2);
  background-size: 600% 600%;

  -webkit-animation: Monstera 25s ease infinite;
  -moz-animation: Monstera 20s ease infinite;
  animation: Monstera 15s ease infinite;


@-webkit-keyframes Monstera {
  0%{background-position:0% 44%}
  50%{background-position:100% 57%}
  100%{background-position:0% 44%}
}
@-moz-keyframes Monstera {
  0%{background-position:0% 44%}
  50%{background-position:100% 57%}
  100%{background-position:0% 44%}
}
@keyframes Monstera {
  0%{background-position:0% 44%}
  50%{background-position:100% 57%}
  100%{background-position:0% 44%}
}
  &__header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // overflow-y: auto; // Add vertical scroll if necessary
    // height: 100%; /* Set the height to 100% of the viewport height */
    min-width: 30%;
  }
  &__body {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow-y: auto; // Add vertical scroll if necessary
    height: 100%; /* Set the height to 100% of the viewport height */
    min-width: 30%;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .app {
    flex-direction: column;
    padding: 3em 2em 4em 2em;
    overflow-y: auto;

    &__header {
      align-items: center;

    }
    &__body {
      align-items: center;
      overflow-y:none; 
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .app{
    padding: 3em 2em 4em 2em;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .app{
    padding: 2em 4em;
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .app{
    padding: 4em 4em;
}
}

//For Big TV's (HD Screens) 
@media screen and (min-width: 1280px) {
  .app{
    padding: 5em 5em;
}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1920px) {
  .app{
      padding: 15em 35em;
  }
}

// //For 4K Displays (Ultra HD)
//   @media screen and (min-width: 3840px) {

// }

