@use "./../../../styles/vars";

  .education-card {
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    font-family: vars.$fbody;
    text-align: left;
    align-items: first baseline;
    overflow: auto;  

ul {
      display: flex;
      margin: 1em 0 0 0;
    }

    li {
      padding: 0.1em;
      transform: scale(80%);
    }

    &__body {
      display: flex;
      padding: 1.5em;
      margin-bottom: 1em;
    transition: background-color 0.3s ease, border-radius 0.3s ease;
    border: 1px solid rgba(255, 255, 255, 0.2) ;
    border-radius: 0.5em;
    
      &:hover {
        background: 0 rgba(255, 255, 255, 0.2);
      }
  }

    &__duration {
      font-size: 110%;
      font-family: vars.$fheader;
      color: vars.$tertiary;
      opacity: 0.6;
    }

    &__year {
      font-weight: 500;
    }

    &__details {
      margin-left: 2em;
      font-size: 90%;
    }

    &__school {
      font-weight: 500;
      font-size: 95%;
      margin-bottom: 0.5em;
      color:rgb(255, 255, 255, 0.5);
    }

    &__degree {
      margin-bottom: 0.5em;
      font-weight: 600;
    }

    &__location {
      margin-bottom: 0.5em;
    }

    &__skills {
      display: flex;
    }
  }

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 767px) {
  .education-card {
    padding: 0;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;

    &__body {
      flex-direction: column;
      padding: 1em;
    }
    &__duration {
      display: flex;
      padding: 0 0 0 0;
      font-size: 90%;
    }
    &__year {
      margin: 0 0.5em 0 0;
    }
    &__details {
      margin:1em 0 2em 0;
      font-size: 90%;
    }

    ul {
      margin: 0.5em 0 0 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

    }
    li {
      padding: 0.05em;
    }
  }
}
