@use "./../../styles/vars";

.home {
    display: flex;
justify-content: flex-end;
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 767px) {
    .home {
    justify-content: flex-start;
// display: none;
}
}

