@use "./../../styles/vars";

.homepage {
  margin: 2.5em 0 0 0;

  &__nav {
    display: flex;
    align-items: center;
    margin: 2.6em 0 0 0;
    justify-content: space-between;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .homepage {
    display: flex;
    align-items: center;
    justify-content: center;
    &__left-section {
      margin: 0 1em;
      max-width: 30%;
      font-size: 80%;
    }
    &__right-section {
      margin: 0 1em;
      font-size: 80%;
    }
  }
}
